@import url('https://fonts.googlepis.com/css? family=Montserrat:600&display=swap');
html{
    height:100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 49px;
    transform: translate(-50%,-50%);
    background: #CF9F69;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px;solid #000;
    height: 500PX;
}
.row{
    text-align: center;
    margin-top: -100px;

}
.login-box img{
    width: 120px;
    height: 120px;
    border-radius: 50%;

}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #0e153a;
    text-align: center;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
   
    transition: .5s;
    border-radius: 10px;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #0e153a;
    font-size: 12px;
}

.add{
    padding: 20px 20px;
    align-items: center;
    display: flex;
    gap: 1.5rem;
}
.add input{
    align-items: center;
    padding: 20px 50px;
    background-color: #fcfcfc;
    border-radius: 10px;
  

}

.back a{
    text-decoration: none;
    color: black;
    align-items: center;
    padding: 20px 40px;
    background-color: #fcfcfc;
    border-radius: 10px;
    box-shadow: #0e153a;
}
span {
    position: relative;
    display: inline-flex;
    width: 120px;
    height: 45px;
}
add a{
    font-size: 12px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform:translateZ(-25px);
    transition: transform .25s;
}
